<div class="topDiv">
  <img (click)="goBack()" class="backIcon" src="./assets/images/icon/back.png">
  <img class="shareIcon" src="./assets/images/icon/share.png">
</div>

<div class="mainDiv">
  <img class="detailImg" src={{product.masterImg}}>
  <div class="description">{{product.description}}</div>
  <div>￥ {{product.wsPrice}}
    <label class="originalPrice"> ￥{{product.price}}</label>
    <label class="groupMQ">{{product.wsReq}}人团</label>
  </div>
</div>

<weui-navbar class="detailNav">
  <weui-tab heading="详情">
    <div *ngFor="let img of product.detailImgs">
      <img class="detailImg" src="{{img}}">
    </div>
  </weui-tab>
  <weui-tab heading="评论"></weui-tab>
</weui-navbar>

<button class="shopBtn" weui-button (click)="shopNow()">开团</button>