.description{
    font-size: xx-small;
}

.detailImg{
    width: 100%;
    height: auto;
}

.originalPrice{
    font-size: x-small;
    text-decoration:line-through;
}

.groupMQ{
    font-size: x-small;
    border: 1px;
    border-style: solid;
    border-color: #DFBA18;
}

.shopBtn{
    position: fixed; 
    bottom: 0;
}

