<div class="paymentDiv" style="position:fixed">
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" (click)="gotoAddrManager()">
      <div class="weui-cell__bd">
        <img style="width: 10px; height: 10px; display:inline-block" src="./assets/images/icon/address.png">
        <div style="display:inline-block">
          <label style="font-size:small; ">{{address.consignee}}</label>
          <label style="font-size:small; ">{{address.phoneNo}}</label>
          <label style="font-size:small; display:block">{{address.toDisplayAddr()}}</label>
        </div>
      </div>
      <div class="weui-cell__ft">
      </div>
    </a>
  </div>

  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <img class="thumbnailImg" src={{order.pThumbnail}}>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">商品：</label>
        <span class="weui-form-preview__value">{{order.pName}}</span>
        <div class="weui-form-preview__item">
          <div style="height:45px">
            <p style="text-align: left; font-size:x-small; color:darkgrey;">{{order.pIntro}}</p>
          </div>          
        </div>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">重量：</label>
        <span class="weui-form-preview__value">{{order.weight}}斤装</span>
      </div>
    </div>
  </div>

  <div class="weui-form-preview__ft">
    <label class="paymentPrice">实付款：￥{{order.payment}}</label>
    <a class="weui-form-preview__btn weui-form-preview__btn_default" (click)="cancelOrder()">取消</a>
    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary">立即支付</button>
  </div>
</div>