<div class="paymentDiv">
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access" (click)="gotoAddrManager()">
        <div class="weui-cell__bd">
          <img style="width: 10px; height: 10px; display:inline-block" src="./assets/images/icon/address.png"> 
          <div style="display:inline-block">
            <label style="font-size:small; ">张三</label>
            <label style="font-size:small; ">13540379640</label>
            <label style="font-size:small; display:block">上海市浦东新区荷泽路828弄1号401室</label>
          </div>          
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
    </div>

    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <img class="thumbnailImg" src={{product.thumbnail}}>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">商品：</label>
          <span class="weui-form-preview__value">{{product.name}}</span>
          <div class="weui-form-preview__item">
            <p style="text-align: left; font-size:x-small; color:darkgrey">{{product.intro}}</p>
          </div>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">重量：</label>
          <span class="weui-form-preview__value">5斤装</span>
        </div>
      </div>
      
    </div>

    <div class="weui-form-preview__ft">
      <label class="paymentPrice">实付款：￥{{product.wsPrice}}</label>
      <a class="weui-form-preview__btn weui-form-preview__btn_default" (click)="cancelOrder()">取消</a>
      <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary">立即支付</button>
    </div>
  </div>