<div class="topDiv">
  <img (click)="goBack()" class="backIcon" src="./assets/images/icon/back.png">
</div>

<div class="mainDiv" style="position:fixed; width:100%">
  <div class="weui-panel weui-panel_access">
    <weui-infiniteloader (loadmore)="onLoadMoreAddr($event)" #addrMComp>
      <div class="weui-panel__bd" *ngFor="let addr of addressList">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <div style="display:inline-block">
              <label style="font-size:small; width:50%; float:left">{{addr.consignee}}</label>
              <label style="font-size:small; width:50%; float:right; text-align:right">{{addr.phoneNo}}</label>
              <br>
              <label style="font-size:small; display:block">{{addr.toDisplayAddr()}}</label>
            </div>
          </div>
        </div>
        <div class="weui-cell" style="height:16px; width:100%">
          <div style="width:60%; height:auto; float:left">
            <label for="weuiAgree" class="weui-agree" style="display:inline-block" (click)="setDefaultAddr(addr)">
              <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" name="asDefault" [ngModel]='addr.asDefault' disabled='{{addr.asDefault}}'>
              <span class="weui-agree__text">默认地址</span>
            </label>
          </div>
          <div style="width:20%; height:auto;float:right" (click)="onEditAddr(addr)">
            <img style="width:12px; height:12px" src="./assets/images/icon/evaluate.png">
            <label style="font-size:xx-small; display:inline-block; color:rgb(163, 162, 162)">编辑</label>
          </div>
          <div style="width:20%; height:auto;float:right" (click)="onDeleteAddr(addr)">
            <img style="width:12px; height:12px" src="./assets/images/icon/delete.png">
            <label style="font-size:xx-small; display:inline-block; color:rgb(163, 162, 162)">删除</label>
          </div>
        </div>
      </div>
    </weui-infiniteloader>

  </div>

  <button class="addBtn" weui-button (click)="onAddAddr()">添加新地址</button>
</div>

<weui-popup (cancel)="cancelEditting()" (confirm)="confirmEditting()" #editorPop>
  <div class="editorDiv">
    <div class="weui-cells weui-cell_form">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">收货人</label>
        </div>
        <div class="weui-cell_bd">
          <input class="weui-input" name="consignee" weui-required [(ngModel)]='edittingAddr.consignee'> 
        </div>
      </div>
      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
          <label class="weui-label">联系电话</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" name="phoneNo" weui-input="mobile" weui-required [(ngModel)]='edittingAddr.phoneNo'>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">所在地区</label>
        </div>
        <div class="weui-cell__bd">
          <weui-city-picker required placeholder="请选择" name="city"></weui-city-picker>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" rows="2" name="detailAddr" weui-textarea weui-cn="2" maxlength="50" [(ngModel)]='edittingAddr.detailAddr'></textarea>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" name="asDefault" [(ngModel)]='edittingAddr.asDefault' disabled='{{edittingAddr.asDefault}}'>
          <span class="weui-agree__text" style="font-size:x-small">
            设为默认地址
          </span>
        </div>
      </div>
    </div>
  </div>
</weui-popup>

 <!--将对话框组件放在底部-->
 <weui-toptips #toptips></weui-toptips>